@import 'styles/common';

$height: 64px;
$avatar-size: 36px;

.topbar {
  background: color('background');
  border-bottom: 1px solid color('grey', '20');
  display: flex;
  align-items: center;
  height: $height;
  box-shadow: 0px 0px 14px color('grey', '10');

  .topbarContent {
    display: flex;
    align-items: center;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .linkGroup {
    display: flex;
    padding: 0;
    li {
      align-items: center;
      position: relative;
      a {
        color: color('link');
        display: flex;
        align-items: center;
        font-size: 16px;
        height: $height;
        padding: 0 15px;
        text-decoration: none;
        transition: background-color ease-in-out 200ms;
      }
      ul {
        border-radius: 0 0 border-radius() border-radius();
        display: none;
        overflow: hidden;
        position: absolute;
        right: 0;
        width: 200px;
        li a {
          background-color: color('background');
          height: 50px;
          padding: 0 16px;
          &:hover {
            background-color: color('primary', '40');
            color: color('background');
          }
        }
      }
      &:hover {
        ul {
          display: block;
        }
      }
    }
  }
}

.brand {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: $height;
  padding: 0 16px;
  svg {
    height: 36px;
  }
}
