$control-slim-height: rem(36px);
$control-height: rem(40px);
$control-large-height: rem(48px);

// Button base
@mixin button-base() {
  $btn-border-width: 2px;
  $vertical-padding: spacing('extra-tight');
  // (rem($control-height) - rem(line-height(control)) - rem($btn-border-width * 2)) / 2;

  background: color('grey', '40');
  border-color: color('grey', '40');
  border-style: solid;
  border-width: 2px;
  border-radius: $control-height;
  color: color('white');
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: line-height(control);
  font-size: font-size(control);
  margin: 0;
  min-height: $control-height;
  min-width: $control-height;
  padding: $vertical-padding spacing();
  text-align: center;
  position: relative;
  user-select: none;
  text-decoration: none;
  transition-property: background, border;
  transition-duration: duration();
  transition-timing-function: easing();
  -webkit-tap-highlight-color: transparent;
  @include recolor-icon(color('white'));

  &:hover {
    background: color('grey');
    border-color: color('grey');
  }

  &:focus,
  &:active {
    background: color('grey');
    outline: 0;
  }
}

@mixin button-base-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

// Button filled mixin
@mixin button-filled($button-color, $hover-color, $text-color: color('white')) {
  background: $button-color;
  border-color: $button-color;
  color: $text-color;
  @include recolor-icon($text-color);

  &:hover {
    background: $hover-color;
    border-color: $hover-color;
    text-decoration: none;
  }

  &:focus {
    background: $hover-color;
    border-color: $hover-color;
  }

  &:active {
    background: $hover-color;
    border-color: $hover-color;
  }
}

// Button outline mixin
@mixin button-outline($outline-color, $background-color: transparent) {
  background: $background-color;
  border-color: rgba($outline-color, 0.6);
  box-shadow: none;
  color: $outline-color;

  &:hover {
    background: rgba($outline-color, 0.05);
    border-color: rgba($outline-color, 0.4);
  }

  &:focus {
    border-color: rgba($outline-color, 0.8);
  }

  &:active {
    background: rgba($outline-color, 0.1);
  }
}

@mixin button-outline-disabled($outline-color) {
  background: transparent;
  border-color: rgba($outline-color, 0.25);
  box-shadow: none;
  color: color('grey', '60');

  @include recolor-icon(color('grey', '60'));
}
