@import 'styles/common';

.card {
  background: color('background');
  border-radius: border-radius();
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}
.header {
  padding: spacing('base-tight') spacing() 0;
  margin-bottom: spacing();
}
.content {
  padding: 0 spacing() spacing('base-tight');
}
.footer {
  padding: 0 spacing() spacing('base-tight');
}
