@import 'styles/common';

@function cardWidthCalc($width, $spacing) {
  @return #{'calc(#{$width} - #{($spacing * 2)})'};
}

.card {
  flex-direction: column;
  width: cardWidthCalc(100%, spacing('loose'));
  padding: 10px;
  margin: 0 spacing('loose') spacing('extra-loose');
  overflow: hidden;
  @media screen and (min-width: 700px) {
    width: cardWidthCalc(50%, spacing('loose'));
  }
  @media screen and (min-width: 1000px) {
    width: cardWidthCalc(33.3%, spacing('loose'));
  }
  @media screen and (min-width: 1500px) {
    width: cardWidthCalc(25%, spacing('loose'));
  }
  @media screen and (min-width: 1600px) {
    width: cardWidthCalc(20%, spacing('loose'));
  }
  .paletteWrap {
    display: flex;
    flex: 1 1 100%;
  }
}

.actions {
  $action-size: 20px;

  display: flex;
  justify-content: space-between;
  padding-top: spacing('tight');
  .actionItem {
    display: flex;
    height: $action-size;
    svg {
      cursor: pointer;
      height: $action-size;
      width: $action-size;
    }
    .count {
      font-size: 14px;
      padding-left: spacing('extra-tight');
    }
  }
}

.palette {
  border-radius: border-radius();
  display: flex;
  flex: 1 1 100%;
  overflow: hidden;
  .color {
    height: 105px;
    flex: 1;
  }
}
